# RQ 2. How much language does the key child produce (utterances and words)?

In [ ]:
import sys
sys.path.append('/home/nele_pauline_suffo/projects/naturalistic-social-analysis/src')

import pandas as pd
import numpy as np
import sqlite3
import re
from constants import ResearchQuestions
from rq_02_queries import map_vocalizations_to_segments

In [2]:
segments_df = pd.read_csv(ResearchQuestions.INTERACTION_SEGMENTS_CSV)
age_df = pd.read_csv("/home/nele_pauline_suffo/ProcessedData/age_group.csv")

segments_test_df = segments_df[segments_df['video_id'] == 25]

In [3]:
segments_test_df

,video_id,video_name,category,segment_start,segment_end,start_time_sec,end_time_sec,duration_sec
474,25,quantex_at_home_id255944_2022_03_08_01,Co-present Silent,150,590,5.000000,19.666667,14.666667
475,25,quantex_at_home_id255944_2022_03_08_01,Alone,600,2730,20.000000,91.000000,71.000000
476,25,quantex_at_home_id255944_2022_03_08_01,Alone,2840,3300,94.666667,110.000000,15.333333
477,25,quantex_at_home_id255944_2022_03_08_01,Co-present Silent,3310,3730,110.333333,124.333333,14.000000
478,25,quantex_at_home_id255944_2022_03_08_01,Alone,3740,10970,124.666667,365.666667,241.000000
479,25,quantex_at_home_id255944_2022_03_08_01,Alone,11100,14510,370.000000,483.666667,113.666667
480,25,quantex_at_home_id255944_2022_03_08_01,Interacting,14520,14700,484.000000,490.000000,6.000000

In [5]:
utterance_data = map_vocalizations_to_segments(db_path= "/home/nele_pauline_suffo/outputs/quantex_inference/inference.db", segments_csv_path=segments_test_df)
utterance_data.to_csv(ResearchQuestions.UTTERANCE_SEGMENTS_CSV, index=False)

In [ ]:
utterance_data.head()

NameError: name 'ResearchQuestions' is not defined